
@using WebApplication5.Models.Concretes
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Person
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">

            <label asp-for="FullName">Name</label>
            <input asp-for="FullName" class="form-control">


            <label asp-for="Desgination">Designation</label>
            <input asp-for="Desgination" class="form-control">

            <label asp-for="File">File</label>
            <input asp-for="File" class="form-control">
        </div>
        <button  type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
